/*button {
      margin: 0 !important;
      border-radius: 0 0 2px 2px !important;
}

img {
      width: 100%;
      height: 100%;
}

.card {
      border-radius: 2px !important;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      transition: 0.3s;
}
*/

html {
      max-width: 100%;
      overflow-x: hidden;
}

body {
      background: #f5f5f5;
      margin: 50px auto;
}

#banner {
      top: 0;
      display: flex;
      width: inherit;
      background-color: #3B98F4;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      transition: 0.3s;
      position: fixed;
      z-index: 20;
}

#avatar_selecter {
      margin-top: 50px;
      display: flex;
      width: 100%;
      background-color: #3B98F4;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      transition: 0.3s;
}

#selecter {
      top: 50px;
      width: 100%;
      position: fixed;
      z-index: 10;
}

#selecter>a {
      border-radius: 0;
      width: 5% !important;
}

#avatar_selecter>p {
      border-left: 1px solid white;
      text-align: center;
      padding: 5px !important;
      width: 50% !important;
      margin: 0 !important;
}

.avatar {
      padding: 1px 20px 0px 20px;
      border: 1px solid white;
      height: 30px !important;
}

#banner>img {
      left: 0;
      height: 50px;
      margin: auto 2%;
}

#banner-text {
      color: white;
      padding: 0 !important;
      margin: 0 !important;
      font-size: 1.3em;
      line-height: 2.6em;
}

.mdl-card {
      margin: 4% auto;
      width: 90% !important;
      min-height: 150px !important;
}


/*
.mdl-card + .mdl-card {
      margin-top: 40px;
}
*/

.mdl-card--horizontal {
      min-height: 200px;
}

.mdl-card--horizontal table {
      border-spacing: 0;
}

.mdl-card__title,
.mdl-card__supporting-text {
      padding: 5% !important;
}

.mdl-card__supporting-text {
      height: 80px !important;
      font-size: 0.8rem !important;
}

.img {
      height: 100%;
      background-repeat: no-repeat !important;
      background-position: center !important;
      background-size: auto 100% !important;
}

.button {
      margin: 0;
      width: 100%;
}

.mdl-card__actions {
      display: flex !important;
      align-items: center !important;
}

td.content {
      width: 60% !important;
      margin: 0 !important;
      padding: 0 !important;
}

table,
tr {
      width: 100% !important;
      height: 200px !important;
}

#panel {
      top: 80px;
      width: 200%;
      overflow-x: hidden;
      position: relative;
      left: 0;
}

#queen,
#king {
      width: 50%;
      float: left;
}

#float{
  width: 100% !important;
}

.facebook {
      position: fixed;
      margin: 0 25% !important;
      top: 50%;
      width: 50%;
}
